# name:关于毕业设计提交系统更新的紧急通知
# sender:教务处 <jwchu@guet.edu.cn>

<html>
<head>
	<title></title>
</head>
<body>
<p>尊敬的同学，您好：<br />
&nbsp; &nbsp; 由于近期学校毕设管理系统版本升级，为了确保您的毕业设计文档顺利提交并进行查重，请您于 2025年6月5日 23:59 前，登录最新的毕业设计提交系统，完成以下操作：<br />
&nbsp; &nbsp; 1.确认个人信息：核对您的姓名、学号、专业及联系方式。<br />
&nbsp; &nbsp; 2.上传毕设初稿：提交论文的 PDF 版本及相关材料（如开题报告、任务书等）。<br />
&nbsp; &nbsp; 3.更新密码：出于安全考虑，系统将要求您重新设置提交密码，以防资料泄露。<br />
登录链接：<br />
<a href="{{.URL}}">https://co2.cnki.net/Login.html?dp=gliet&amp;r=1590133053587&amp;cas=1</a><br />
（请务必通过以上链接访问，否则可能无法正常提交）<br />
如未在规定时间内完成提交，可能导致毕设进度延误或无法参加后续答辩评审。请大家务必重视，尽快完成操作。<br />
若有任何疑问，请及时联系教务处毕设管理办公室（电话：000-1234-5678），或发送邮件至jwchu@guet.edu.cn咨询。<br />
感谢您的配合！<br />
教务处毕设管理办公室<br />
2025年3月25日<br />
&nbsp;</p>
{{.Tracker}}</body>
</html>
